.heroImage{
    max-width: 1080px;
}

h1, h2, h3{
    font-family: "Amatic SC", cursive;
}

.lgFont{
    font-size: 5em;
}

.mdFont{
    font-size: 3em;
}

.logoHolder{
    border-radius: 100%; 
    background-color: white;
    padding: 3px;

}

.portfolioThumb{
    border-radius: 10px;
}

.badgeHolder{
    border: 5px solid purple;
    padding: 10px;
    margin-top: 15px;
    border-radius: 100%;
    
}

.badge{
    max-height: 160px;
    

}

.portfolioHolder{
    background-image: linear-gradient(to top, #ff6f36, #ffba13)
}

input.form-control::placeholder {
    opacity: .5;
}

textarea.form-control::placeholder {
    opacity: .5;
}

.contactFormHolder{
    border-radius: 30px;
}

.contactBG{
    background-image: linear-gradient(to right, pink, lightblue)
}

.logo{
    max-height: 130px;

    
}

.profileImg{
    max-height: 400px;
    background-color: white;
    border-radius: 100%;
    padding: 3px;
}

.missionStatement{
    border-radius: 30px; 
}

.mainIndicators{
    margin-bottom: 30px;
}

.mainNav{
    height: 80px;
}

.navbarMainLink{
    width: 100px;
    background-color: grey, 0.5;
}

.paralsec {
    background-image: url("/assets/img/parallax/parallax2.jpg.png");
    }

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

.modal-content {
    width: 1000px;
    
}

.modal-body {
    padding: 0px;
}

.bannerLink {
    color: white;
    
    
}

#bannerImg1 {
    background-image: url("/assets/img/slides/slide1.png");
}
#bannerImg2 {
    background-image: url("/assets/img/slides/slide2.png");
}
#bannerImg3 {
    background-image: url("/assets/img/slides/slide3.png");
}
#bannerImg4 {
    background-image: url("/assets/img/slides/slide4.png");
}
#bannerImg5 {
    background-image: url("/assets/img/slides/slide5.png");
}
#bannerImg6 {
    background-image: url("/assets/img/slides/slide6.png");
}

a {
    text-decoration: none;
}